{% extends 'base.html' %}
{% block ul %}
<li><a href="/admin/court" class="btn btn-dark">Court</a></li>
<li><a href="/admin/user" class="btn btn-outline-dark">User</a></li>
<li><a href="/logout" class="btn btn-outline-danger">Logout</a></li>
{% endblock ul %}
{% block sub %}
<a href="/admin/court" class="btn btn-dark">Court</a>
<a href="/admin/user" class="btn btn-outline-dark">User</a>
<a href="/logout" class="btn btn-outline-danger">Logout</a>
{% endblock sub %}
{% block main %}
<style>
  .card {
    width: 100%;
  }

  .card-img-top {
    width: 100%;
    height: auto;
    object-fit: contain;
    aspect-ratio: 16/9;
  }
</style>
<div class="container-fluid">
  <div id="view-mode">
    <h1><button id="add-mode-btn" class="btn btn-primary">New Courts</button> List Courts</h1><br>
    <div class="row">
      {% for court in courts %}
      <div class="col-md-4 mb-4">
        <div class="card">
          <img src="{{url_for('static', filename='courts/'+court['image'])}}" class="card-img-top" alt="">
          <div class="card-body">
            <h5 class="card-title">{{court["name"]}}</h5>
            <p class="card-text">Location: </p>
            <p class="card-text">Type: me</p>
            <a href="#" class="btn btn-primary">Book Now</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  <div id="add-mode" style="display: none;">
    <h1>Add Courts</h1><br>
    <form id="add-form" method="post" action="/admin/court" enctype="multipart/form-data">
      <div class="form-group">
        <label for="name">Court Name:</label>
        <input type="text" class="form-control" id="name" name="name" value=''>
      </div>
      <div class="form-group">
        <label for="phone">Phone Number:</label>
        <input type="text" class="form-control" id="phone" name="phone" value=''>
      </div>
      <div class="form-group">
        <label for="location">Location :</label>
        <input type="text" class="form-control" id="location" name="location" value=''>
      </div>
      <div class="form-group">
        <label for="embed">Location Embed:</label>
        <input type="text" class="form-control" id="embed" name="embed" value=''>
      </div>
      <div class="form-group">
        <label for="type">Court Type:</label>
        <select class="form-control" id="type" name="type">
          <option value="badminton">Badminton</option>
          <option value="basketball">Basketball</option>
          <option value="futsal">Futsal</option>
          <option value="tennis">Tennis</option>
        </select>
      </div>
      <div class="form-group">
        <label for="image">Image:</label>
        <input type="file" class="form-control" id="image" name="image" accept="image/*">
      </div>
      <button type="submit" class="btn btn-primary">Save Changes</button>
      <button type="button" id="cancel-add-btn" class="btn btn-secondary">Cancel</button>
    </form>
  </div>
</div>
<script>
  document.addEventListener('DOMContentLoaded', function () {
    document.getElementById('add-mode-btn').addEventListener('click', function () {
      document.getElementById('view-mode').style.display = 'none';
      document.getElementById('add-mode').style.display = 'block';
    });

    document.getElementById('cancel-add-btn').addEventListener('click', function () {
      document.getElementById('add-mode').style.display = 'none';
      document.getElementById('view-mode').style.display = 'block';
    });
  });
</script>
{% endblock main%}