{% extends 'base.html' %}
{% block ul %}
<li><a href="/" class="btn btn-outline-dark">Home</a></li>
<li><a href="/courts" class="btn btn-dark">Courts</a></li>
<li><a href="/booking" class="btn btn-outline-dark">Bookings</a></li>
{% if session.get("token") %}
<li><a href="/profile" class="btn btn-outline-dark">Profile</a></li>
{% else %}
<li><a href="/login" class="btn btn-outline-dark">Login</a></li>
{% endif %}
{% endblock ul %}
{% block sub %}
<a href="/" class="btn btn-outline-dark">Home</a>
<a href="/courts" class="btn btn-dark">Courts</a>
<a href="/booking" class="btn btn-outline-dark">Bookings</a>
{% if session.get("token") %}
<li><a href="/profile" class="btn btn-outline-dark">Profile</a></li>
{% else %}
<li><a href="/login" class="btn btn-outline-dark">Login</a></li>
{% endif %}
{% endblock sub %}
{% block main %}
<style>
  .card {
        width: 100%;
    }

    .card-img-top {
        width: 100%;
        height: auto;
        object-fit: contain;
        aspect-ratio: 16/9;
    }
</style>
<div class="container-fluid">
  <h1>Courts Available</h1><br>
  <div class="row">
    {% for img in images %}
    <div class="col-md-4 mb-4">
      <div class="card">
        <img src="{{url_for('static', filename='courts/'+img)}}" class="card-img-top" alt="">
        <div class="card-body">
          <h5 class="card-title">i</h5>
          <p class="card-text">Location: you</p>
          <p class="card-text">Type: me</p>
          <a href="#" class="btn btn-primary">Book Now</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock main%}