{% extends 'base.html' %}

{% block main %}
<div class="container-fluid">
    <div class="row justify-content-center mt-5">
        <div class="col-md-6">
            <form method="post" action="/register">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input required type="email" class="form-control" id="email" name="email" placeholder="Enter your email">
                </div>
                <div class="form-group">
                    <label for="name">Name</label>
                    <input required type="text" class="form-control" id="name" name="name" placeholder="Enter your name">
                </div>
                <div class="form-group">
                    <label for="born">Born Year</label>
                    <input minlength="4" maxlength="4" type="number" class="form-control" id="born" name="born" placeholder="Enter your born year"
                        min="{{year-100}}" max="{{year}}">
                </div>
                <div class="form-group">
                    <label for="interest">Interest</label>
                    <select class="form-control" id="interest" name="interest">
                        <option value="badminton">Badminton</option>
                        <option value="basketball">Basketball</option>
                        <option value="futsal">Futsal</option>
                        <option value="tennis">Tennis</option>
                        <!-- Add more options as needed -->
                    </select>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input required minlength="6" type="password" class="form-control" id="password" name="password"
                        placeholder="Enter your password">
                </div>
                <div class="form-group">
                    <label for="confirmPassword">Confirm Password</label>
                    <input required minlength="6" type="password" class="form-control" id="confirmPassword" name="confirmPassword"
                        placeholder="Confirm your password">
                </div>
                <button type="submit" class="btn btn-primary">Register</button>
            </form>
            <br>
            {% for message in get_flashed_messages() %}
            <h3 style="color: red">{{ message }}</h3>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}